body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Georgia;
  color: rgb(0, 42, 68);
}

.domainsub p,
.text-12 p,
.text-14 p,
.text-18 p,
.text-21 p,
.text-27 p,
.text-30 p,
.text-33 p,
.text-38 p,
.text-39 p,
.text-4 p,
.text-40 p,
.text-41 p,
.text-42 p,
.text-43 p,
.text-44 p,
.text-45 p,
.text-6 p,
.text-8 p {
  margin-bottom: 1em;
}

.anchors {
  float: left;
  width: 10.4373757455%;
  min-height: 38px;
  padding-left: 10px;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.backgd {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 642px;
  min-height: 642px;
  background-image: url('../images/bspeak.jpg'), url('../images/blearn.jpg'), url('../images/bapi.jpg'), url('../images/bmic.jpg'), url('../images/btype.jpg');
  background-repeat: repeat-y, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover, cover, cover;
  background-position: center center, center center, center center, center center, center center;
  background-attachment: scroll, scroll, scroll, scroll, scroll;
  opacity: 0.65;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 643px;
  margin: 0 auto;
  background: rgb(0, 0, 0);
  background: -webkit-linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(0, 73, 119) 41.904761904761905%) rgb(25, 19, 24);
  background:    -moz-linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(0, 73, 119) 41.904761904761905%) rgb(25, 19, 24);
  background:      -o-linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(0, 73, 119) 41.904761904761905%) rgb(25, 19, 24);
  background:     -ms-linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(0, 73, 119) 41.904761904761905%) rgb(25, 19, 24);
  background:         linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 73, 119) 41.904761904761905%) rgb(25, 19, 24);
}

.content {
  position: absolute;
  top: 642px;
  left: 15.0073206442%;
  z-index: 98;
  width: 73.6456808199%;
  height: 8563px;
  background-color: rgb(255, 255, 255);
}

.contentheader {
  position: absolute;
  top: 642px;
  left: 15.0073206442%;
  z-index: 101;
  width: 73.6456808199%;
  height: 91px;
  background: url('../images/btype.jpg'), none rgb(222, 222, 222);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 100% 100%;
  background-position: center center, 0% 0%;
  background-attachment: fixed, scroll;
  box-shadow: 0 4px 13px rgba(0, 0, 0, .5);
  opacity: 0.9;
}

.contentheader .lirelogo {
  top: 5px;
  z-index: 99;
  width: 83px;
}

.contentheader .text {
  float: left;
  width: 45.129224652%;
  min-height: 41px;
  margin: 30px 0 0 0.74553%;
  font-style: italic;
  font-size: 1.25em;
  color: rgb(221, 242, 255);
}

.domainsub {
  position: absolute;
  top: 17px;
  left: 14.9513473053%;
  z-index: 107;
  width: 89.2215568862%;
  height: 241px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}

.domainsub .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 106;
  width: 100%;
  height: 228px;
  padding: 47px 12px 5px 5px;
  background-color: rgba(2, 57, 91, 0.98);
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, .5);
  font-size: 1em;
  color: rgba(255, 255, 255, 0.76);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}

.element {
  position: relative;
  float: left;
  clear: both;
  width: 25px;
  height: 25px;
  border: 5px solid rgb(0, 73, 119);
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
}

.face {
  position: relative;
  float: left;
  clear: both;
  z-index: 96;
  width: 77.1084337349%;
  min-width: 100px;
  max-width: 200px;
  height: 205px;
  min-height: 100px;
  max-height: 200px;
  margin: -416px 0 0 17.93893%;
  background-image: url('../images/face1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.faceinfo {
  position: relative;
  float: left;
  z-index: 95;
  width: 87.7862595419%;
  height: 243px;
  margin: 185px 0 0 12.213740458%;
  background-color: rgb(0, 73, 119);
}

.homeicocontent {
  position: absolute;
  top: 299px;
  left: 0;
  right: 0;
  z-index: 17;
  width: 7.467057101%;
  height: 88px;
  margin: 0 auto;
}

.homenavcontent {
  position: absolute;
  top: 514px;
  left: 0;
  right: 0;
  z-index: 11;
  width: 168px;
  height: 52px;
  margin: 0 auto;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -o-transition: width .3s;
  -ms-transition: width .3s;
  transition: width .3s;
}

.homenavcontent2 {
  position: fixed;
  top: 8px;
  right: 84.9915355051%;
  z-index: 109;
  width: 167px;
  height: 324px;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -o-transition: width .3s;
  -ms-transition: width .3s;
  transition: width .3s;
}

.icoapi {
  display: block;
  position: absolute;
  top: 17px;
  left: 282.3069852941%;
  z-index: 14;
  width: 59px;
  height: auto;
  opacity: 0.4;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.icolearn {
  display: block;
  position: absolute;
  top: 17px;
  left: 152.9105392156%;
  z-index: 13;
  width: 59px;
  height: auto;
  opacity: 0.4;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.icomic {
  display: block;
  position: absolute;
  top: 17px;
  left: -233.3333333334%;
  z-index: 15;
  width: 58px;
  height: auto;
  opacity: 0.4;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.icospeak {
  display: block;
  position: absolute;
  top: 17px;
  left: 24.4944852941%;
  z-index: 12;
  width: 58px;
  height: auto;
  opacity: 0.4;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.icotype {
  display: block;
  position: absolute;
  top: 17px;
  left: -103.9215686275%;
  z-index: 16;
  width: 58px;
  height: auto;
  opacity: 0.4;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.lirelogo {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  margin: 0 auto;
  overflow: visible;
}

.profile {
  float: left;
  clear: both;
  width: 26.0437375745%;
  height: 428px;
  margin: 118px 0 0 4.1749502982%;
}

.profilename {
  float: left;
  width: 86.9633152173%;
  min-height: 44px;
  margin-left: 5%;
  text-align: center;
  color: rgb(179, 222, 250);
}

.sep1 {
  float: left;
  width: 2px;
  height: 40px;
  margin: 2px 0 0 -67.28981%;
  background-color: rgb(65, 123, 150);
}

.sep2 {
  float: left;
  width: 2px;
  height: 40px;
  margin: 2px 0 0 13.59747%;
  background-color: rgb(65, 123, 150);
}

.sep3 {
  float: left;
  width: 2px;
  height: 40px;
  margin: 2px 0 0 83.9285699999%;
  background-color: rgb(65, 123, 150);
}

.sep4 {
  float: left;
  clear: both;
  width: 2px;
  height: 40px;
  margin: -40px 0 0 161.84896%;
  background-color: rgb(65, 123, 150);
}

.sidedecor {
  position: relative;
  float: left;
  clear: both;
  width: 6.6600397614%;
  height: 58px;
  background: url('../images/btype.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.txtapi {
  position: absolute;
  top: 272px;
  left: 0;
  right: 0;
  z-index: 22;
  width: 539px;
  min-height: 53px;
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.52);
}

.txtlearn {
  position: absolute;
  top: 272px;
  left: 0;
  right: 0;
  z-index: 21;
  width: 438px;
  min-height: 53px;
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.52);
}

.txtmic {
  position: absolute;
  top: 272px;
  left: 0;
  right: 0;
  z-index: 18;
  width: 534px;
  min-height: 53px;
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.52);
}

.txtspeak {
  position: absolute;
  top: 272px;
  left: 0;
  right: 0;
  z-index: 20;
  width: 459px;
  min-height: 53px;
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.52);
}

.txttype {
  position: absolute;
  top: 272px;
  left: 0;
  right: 0;
  z-index: 19;
  width: 503px;
  min-height: 53px;
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.52);
}

._button {
  display: block;
}

.faceinfo ._button {
  float: left;
  clear: both;
  width: 30px;
  height: 30px;
  margin: 43px 0 0 5.2106%;
  border-radius: 3px;
  background: url('../images/facebook.svg') rgb(0, 42, 68);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.homenavcontent ._button {
  position: absolute;
  height: 45px;
  padding-left: 5px;
  background-color: rgba(25, 19, 24, 0);
  font-family: Verdana;
  font-size: 1.125em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.homenavcontent ._button:hover {
  background-color: rgba(25, 19, 24, 0.44);
}

.homenavcontent ._button:active {
  background-color: rgba(25, 19, 24, 0.44);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset;
}

.homenavcontent2 ._button {
  position: absolute;
  height: 45px;
  padding-left: 5px;
  font-family: Verdana;
  font-size: 1.125em;
  text-align: right;
  color: rgb(255, 255, 255);
}

.homenavcontent2 ._button:hover {
  background-color: rgba(179, 179, 179, 0.44);
}

.homenavcontent2 ._button:active {
  border-bottom: 3px solid rgb(255, 255, 255);
  background-color: rgba(25, 19, 24, 0.44);
}

.anchors-1 {
  margin-left: 8.74441%;
}

.anchors-2 {
  clear: both;
  margin-left: 12.91936%;
}

.anchors-3 {
  clear: both;
  margin-left: 9.99938%;
}

.anchors-5,
.anchors-6 {
  clear: both;
  margin-left: 8.74441%;
}

.anchors-4,
.anchors-7 {
  clear: both;
  margin-left: 7.95229%;
}

.anchors-8 {
  clear: both;
  margin-left: 18.38811%;
}

.anchors-9 {
  clear: both;
  margin-left: 4.96863%;
}

.element-1 {
  z-index: 51;
  margin: 90px 0 0 21.8253%;
}

.element-2 {
  z-index: 53;
  margin-left: 21.92315%;
}

.element-3 {
  z-index: 57;
  margin-left: 21.96664%;
}

.element-4 {
  z-index: 61;
  margin-left: 21.8253%;
}

.element-5 {
  z-index: 65;
  margin-left: 22.00081%;
}

.element-6 {
  z-index: 69;
  margin-left: 22.00081%;
}

.lirelogo-2 {
  top: 71px;
  z-index: 23;
  width: 206px;
}

.profilename-1 {
  margin-top: 40px;
  border-bottom: 2px solid rgb(179, 222, 250);
  font-size: 1.25em;
}

.profilename-2 {
  clear: both;
  margin-top: 16px;
  font-size: 1em;
}

.sidedecor-1 {
  z-index: 42;
  margin-top: 192px;
}

.sidedecor-2 {
  z-index: 45;
  margin-top: 150px;
}

.sidedecor-3 {
  z-index: 71;
  margin-top: 150px;
}

.sidedecor-4 {
  z-index: 91;
  margin-top: 150px;
}

.text-10 {
  float: left;
  clear: both;
  width: 83.3001988071%;
  min-height: 68px;
  margin: 40px 0 0 9.99938%;
  font-size: 1em;
  color: rgb(0, 42, 68);
}

.text-11,
.text-7 {
  float: left;
  clear: both;
  width: 35.1888667992%;
  min-height: 38px;
  margin: 130px 0 0 7.35276%;
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 73, 119, 0.14);
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.text-13 {
  float: left;
  clear: both;
  width: 35.1888667992%;
  min-height: 38px;
  margin: 103px 0 0 7.35276%;
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 73, 119, 0.14);
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.text-12,
.text-14 {
  float: left;
  clear: both;
  width: 83.3001988071%;
  min-height: 245px;
  margin: 40px 0 0 8.74441%;
  font-size: 1em;
  color: rgb(0, 42, 68);
}

.text-15 {
  position: relative;
  float: left;
  z-index: 43;
  width: 83.0019880715%;
  height: 86px;
  min-height: 63px;
  margin-top: 130px;
  padding: 20px 10px 10px 20px;
  border-bottom: 1px solid rgba(0, 136, 221, 0.38);
  font-size: 2.375em;
  color: rgb(0, 73, 119);
}

.text-16 {
  position: relative;
  float: right;
  clear: both;
  z-index: 50;
  width: 117px;
  height: 39px;
  margin: -47px 77.43539% 0 0;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-bottom: 3px solid rgb(0, 73, 119);
  font-style: italic;
  font-size: 1.125em;
  text-align: right;
  color: rgba(0, 73, 119, 0.92);
}

.text-19 {
  position: relative;
  float: right;
  clear: both;
  z-index: 52;
  width: 124px;
  height: 39px;
  margin: -47px 76.73956% 0 0;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-bottom: 3px solid rgb(0, 73, 119);
  font-style: italic;
  font-size: 1.125em;
  text-align: right;
  color: rgba(0, 73, 119, 0.92);
}

.text-22 {
  position: relative;
  float: right;
  clear: both;
  z-index: 56;
  width: 124px;
  height: 39px;
  margin: -47px 76.73956% 0 0;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-bottom: 3px solid rgb(0, 73, 119);
  font-style: italic;
  font-size: 1.125em;
  text-align: right;
  color: rgba(0, 73, 119, 0.92);
}

.text-17,
.text-20,
.text-23 {
  float: left;
  clear: both;
  width: 70.8534621578%;
  min-height: 38px;
  margin-left: 22.99795%;
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 73, 119, 0.14);
  border-left: 4px solid rgb(0, 73, 119);
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.text-18,
.text-21,
.text-24 {
  float: left;
  clear: both;
  width: 74.074074074%;
  min-height: 245px;
  margin-left: 22.99795%;
  padding-top: 40px;
  padding-bottom: 120px;
  padding-left: 20px;
  border-left: 4px solid rgb(0, 73, 119);
  font-size: 1em;
  color: rgb(0, 42, 68);
}

.text-25 {
  position: relative;
  float: right;
  clear: both;
  z-index: 60;
  width: 124px;
  height: 39px;
  margin: -47px 76.73956% 0 0;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-bottom: 3px solid rgb(0, 73, 119);
  font-style: italic;
  font-size: 1.125em;
  text-align: right;
  color: rgba(0, 73, 119, 0.92);
}

.text-28 {
  position: relative;
  float: right;
  clear: both;
  z-index: 64;
  width: 124px;
  height: 39px;
  margin: -47px 76.73956% 0 0;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-bottom: 3px solid rgb(0, 73, 119);
  font-style: italic;
  font-size: 1.125em;
  text-align: right;
  color: rgba(0, 73, 119, 0.92);
}

.text-3 {
  position: relative;
  float: left;
  z-index: 24;
  width: 83.0019880715%;
  height: 86px;
  min-height: 63px;
  margin: 174px 0 0 1.2922499999%;
  padding: 20px 10px 10px 20px;
  border-bottom: 1px solid rgba(0, 136, 221, 0.38);
  font-size: 2.375em;
  color: rgb(0, 73, 119);
}

.text-31 {
  position: relative;
  float: right;
  clear: both;
  z-index: 68;
  width: 124px;
  height: 39px;
  margin: -47px 76.73956% 0 0;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-bottom: 3px solid rgb(0, 73, 119);
  font-style: italic;
  font-size: 1.125em;
  text-align: right;
  color: rgba(0, 73, 119, 0.92);
}

.text-26,
.text-29,
.text-32 {
  float: left;
  clear: both;
  width: 70.8530069582%;
  min-height: 38px;
  margin-left: 22.99795%;
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 73, 119, 0.14);
  border-left: 4px solid rgb(0, 73, 119);
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.text-27,
.text-30,
.text-33 {
  float: left;
  clear: both;
  width: 74.072750994%;
  min-height: 245px;
  margin-left: 22.99795%;
  padding-top: 40px;
  padding-bottom: 120px;
  padding-left: 20px;
  border-left: 4px solid rgb(0, 73, 119);
  font-size: 1em;
  color: rgb(0, 42, 68);
}

.text-34 {
  position: relative;
  float: left;
  z-index: 70;
  width: 93.3399602385%;
  height: 86px;
  min-height: 63px;
  margin-top: 130px;
  padding: 20px 10px 10px 20px;
  border-bottom: 1px solid rgba(0, 136, 221, 0.38);
  font-size: 2.375em;
  color: rgb(0, 73, 119);
}

.text-35 {
  float: left;
  clear: both;
  width: 76.4413518886%;
  min-height: 60px;
  margin: 40px 0 0 10.93284%;
  padding: 20px 10px 10px;
  font-style: italic;
  font-size: 1em;
  color: rgba(0, 73, 119, 0.75);
}

.text-36 {
  float: left;
  clear: both;
  width: 82.4055666003%;
  min-height: 38px;
  margin: 40px 0 0 4.97018%;
  padding: 7px 5px 5px 10px;
  border-bottom: 1px solid rgba(0, 73, 119, 0.14);
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.text-4 {
  float: left;
  clear: both;
  width: 76.4413518886%;
  min-height: 60px;
  margin: 42px 0 0 19.99876%;
  padding-left: 10px;
  border-left: 3px solid rgba(0, 73, 119, 0.48);
  font-style: italic;
  font-size: 1em;
  color: rgba(0, 73, 119, 0.75);
}

.text-38,
.text-42 {
  float: left;
  clear: both;
  width: 76.4413518886%;
  min-height: 40px;
  margin: 80px 0 0 4.96863%;
  padding: 7px 5px 5px;
  border-left: 3px solid rgb(179, 222, 250);
  font-size: 1em;
  color: rgb(0, 73, 119);
}

.text-39,
.text-40,
.text-41,
.text-44,
.text-45 {
  float: left;
  clear: both;
  width: 76.4413518886%;
  min-height: 40px;
  margin: 25px 0 0 4.96863%;
  padding: 7px 5px 5px;
  border-left: 3px solid rgb(179, 222, 250);
  font-size: 1em;
  color: rgb(0, 73, 119);
}

.text-46 {
  float: left;
  clear: both;
  width: 76.4413518886%;
  min-height: 38px;
  margin: 80px 0 0 4.97018%;
  padding: 7px 5px 5px 10px;
  border-bottom: 1px solid rgba(0, 73, 119, 0.14);
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.text-37,
.text-47 {
  float: left;
  clear: both;
  width: 76.4413518886%;
  min-height: 40px;
  margin: 40px 0 0 4.96863%;
  padding: 7px 5px 5px;
  border-left: 3px solid rgb(179, 222, 250);
  font-size: 1em;
  color: rgb(0, 73, 119);
}

.text-5 {
  float: left;
  clear: both;
  width: 35.1888667992%;
  min-height: 38px;
  margin: 94px 0 0 7.35276%;
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 73, 119, 0.14);
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.text-43,
.text-48,
.text-49,
.text-50 {
  float: left;
  clear: both;
  width: 76.4413518886%;
  min-height: 40px;
  margin: 20px 0 0 4.96863%;
  padding: 7px 5px 5px;
  border-left: 3px solid rgb(179, 222, 250);
  font-size: 1em;
  color: rgb(0, 73, 119);
}

.text-51 {
  position: relative;
  float: left;
  z-index: 89;
  width: 83.0019880715%;
  height: 86px;
  min-height: 63px;
  margin-top: 130px;
  padding: 20px 10px 10px 20px;
  border-bottom: 1px solid rgba(0, 136, 221, 0.38);
  font-size: 2.375em;
  color: rgb(0, 73, 119);
}

.text-36:hover,
.text-37:hover,
.text-38:hover,
.text-39:hover,
.text-40:hover,
.text-41:hover,
.text-42:hover,
.text-43:hover,
.text-44:hover,
.text-45:hover,
.text-46:hover,
.text-47:hover,
.text-48:hover,
.text-49:hover,
.text-50:hover,
.text-51:hover {
  border-left-width: 10px;
  border-left-color: rgb(92, 191, 254);
}

.text-6,
.text-8 {
  float: left;
  clear: both;
  width: 83.3001988071%;
  min-height: 245px;
  margin: 40px 0 0 9.99938%;
  font-size: 1em;
  color: rgb(0, 42, 68);
}

.text-9 {
  float: left;
  clear: both;
  width: 35.1888667992%;
  min-height: 38px;
  margin: 168px 0 0 7.35276%;
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 73, 119, 0.14);
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.homenavcontent ._button-10 {
  top: 2px;
  left: 106.5476190476%;
  z-index: 5;
  width: 51.1904761904%;
}

.homenavcontent ._button-11 {
  top: 2px;
  left: 169.0383184523%;
  z-index: 6;
  width: 62.5%;
}

.homenavcontent ._button-10:active,
.homenavcontent ._button-11:active,
.homenavcontent ._button-7:active,
.homenavcontent ._button-8:active {
  color: rgb(255, 255, 255);
}

.homenavcontent ._button-7 {
  top: 0;
  left: 20.8333333333%;
  z-index: 4;
  width: 73.2142857142%;
}

.homenavcontent ._button-8 {
  top: 0;
  left: -61.3095238096%;
  z-index: 3;
  width: 69.6428571428%;
}

.homenavcontent ._button-9 {
  top: 2px;
  left: -130.3571428572%;
  z-index: 2;
  width: 59.5238095238%;
}

.homenavcontent ._button-9:active {
  text-align: center;
  color: rgb(255, 224, 194);
}

.homenavcontent2 ._button-1 {
  top: 7px;
  left: 34.7305389221%;
  z-index: 108;
  width: 59.2814371257%;
  padding-right: 9px;
  background-color: rgba(25, 19, 24, 0);
}

.homenavcontent2 ._button-1:active {
  text-align: center;
  color: rgb(255, 224, 194);
}

.homenavcontent2 ._button-2 {
  top: 69px;
  left: 24.5508982035%;
  z-index: 105;
  width: 69.4610778443%;
  padding-right: 9px;
  background-color: rgba(25, 19, 24, 0);
}

.homenavcontent2 ._button-3 {
  top: 132px;
  left: 20.9580838323%;
  z-index: 104;
  width: 73.0538922155%;
  background-color: rgba(25, 19, 24, 0);
}

.homenavcontent2 ._button-4 {
  top: 194px;
  left: 43.113772455%;
  z-index: 103;
  width: 50.8982035928%;
}

.homenavcontent2 ._button-4:hover {
  border-bottom-width: 0;
  border-bottom-style: none;
}

.homenavcontent2 ._button-5 {
  top: 256px;
  left: 31.7365269461%;
  z-index: 102;
  width: 62.5%;
}

.homenavcontent2 ._button-2:active,
.homenavcontent2 ._button-3:active,
.homenavcontent2 ._button-4:active,
.homenavcontent2 ._button-5:active {
  color: rgb(255, 255, 255);
}

.profilename a,
.text a,
.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: rgb(0, 0, 0) rgb(0, 0, 0) transparent;
  border-style: solid solid none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 700px) {
  .background,
  .homenavcontent,
  .txtapi,
  .txtlearn,
  .txtmic,
  .txtspeak,
  .txttype {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .content {
    left: 15%;
    width: 85%;
    height: 7786px;
  }

  .content .element {
    position: relative;
  }

  .content .sidedecor {
    position: relative;
  }

  .contentheader {
    left: 15%;
    width: 81.5714285714%;
    height: 68px;
  }

  .contentheader .lirelogo {
    top: 6px;
    left: auto;
    right: 1.401050788%;
    width: 59px;
    height: auto;
  }

  .contentheader .text {
    width: 82.6619964973%;
    margin-top: 13px;
    margin-left: 1.0507899999%;
  }

  .faceinfo .profilename {
    width: 86.9630140133%;
  }

  .homeicocontent {
    left: 0;
    right: 0;
    width: 14.1428571428%;
    margin-right: auto;
    margin-left: auto;
  }

  .homeicocontent .icoapi,
  .homeicocontent .icolearn,
  .homeicocontent .icomic,
  .homeicocontent .icospeak,
  .homeicocontent .icotype {
    height: auto;
  }

  .homenavcontent .sep1 {
    position: relative;
    z-index: 7;
    margin-top: 9px;
    margin-left: 1.17188%;
  }

  .homenavcontent .sep2 {
    position: relative;
    z-index: 8;
    margin-top: 9px;
    margin-left: 79.6875%;
  }

  .homenavcontent .sep3 {
    visibility: hidden;
    position: relative;
    z-index: 9;
    margin-top: 9px;
    margin-left: 15.46689%;
  }

  .homenavcontent .sep4 {
    position: relative;
    z-index: 10;
    margin-top: 15px;
    margin-left: 42.80134%;
  }

  .lirelogo {
    left: 0;
    right: 0;
    height: auto;
  }

  .profile .face {
    position: relative;
    z-index: 96;
    width: 87.0310609116%;
    margin-left: 17.92881%;
  }

  .profile .faceinfo {
    position: relative;
    z-index: 95;
    width: 87.7974989915%;
  }

  .faceinfo ._button {
    margin-left: 5.20331%;
  }

  .content .anchors-2 {
    margin-left: 12.90704%;
  }

  .content .anchors-4,
  .content .anchors-7 {
    margin-left: 7.94118%;
  }

  .content .anchors-8 {
    margin-left: 9.62973%;
  }

  .content .anchors-9 {
    position: relative;
    z-index: 90;
    margin-top: -151px;
    margin-left: 8.40074%;
  }

  .content .element-1 {
    z-index: 51;
    margin-left: 5.51996%;
  }

  .content .element-2 {
    z-index: 53;
    margin-left: 5.42805%;
  }

  .content .element-3 {
    z-index: 57;
    margin-left: 5.47532%;
  }

  .content .element-4 {
    z-index: 61;
    margin-left: 5.31513%;
  }

  .content .element-5 {
    z-index: 65;
    margin-left: 5.31513%;
  }

  .content .element-6 {
    z-index: 69;
    margin-left: 5.31513%;
  }

  .content .sidedecor-1 {
    z-index: 42;
  }

  .content .sidedecor-2 {
    z-index: 45;
  }

  .content .sidedecor-3 {
    z-index: 71;
  }

  .content .sidedecor-4 {
    clear: none;
    z-index: 91;
    margin-top: 29px;
  }

  .content .anchors-3,
  .content .text-10,
  .content .text-6,
  .content .text-8 {
    margin-left: 9.99475%;
  }

  .content .text-11,
  .content .text-13,
  .content .text-5,
  .content .text-7,
  .content .text-9 {
    margin-left: 7.33456%;
  }

  .content .anchors-1,
  .content .anchors-5,
  .content .anchors-6,
  .content .text-12,
  .content .text-14 {
    margin-left: 8.7395%;
  }

  .content .text-15 {
    position: relative;
    z-index: 43;
    margin-left: 0.68803%;
  }

  .content .text-16 {
    position: relative;
    float: left;
    clear: none;
    z-index: 50;
    margin-top: 68px;
    margin-right: 0;
    margin-left: 0.05515%;
  }

  .content .text-17 {
    margin-left: 7.46324%;
  }

  .content .text-18 {
    width: 85%;
    margin-left: 7.54727%;
  }

  .content .text-19 {
    position: relative;
    float: left;
    z-index: 52;
    margin-right: 0;
    margin-left: 8.427%;
  }

  .content .text-22 {
    position: relative;
    float: left;
    z-index: 56;
    margin-right: 0;
    margin-left: 8.42437%;
  }

  .content .text-23 {
    clear: none;
    width: 88.7394957983%;
    margin-left: 7.39496%;
  }

  .content .text-25 {
    position: relative;
    float: left;
    z-index: 60;
    width: 129px;
    margin-right: 0;
    margin-left: 7.56303%;
  }

  .content .text-20,
  .content .text-26 {
    clear: none;
    margin-left: 7.46324%;
  }

  .content .text-21,
  .content .text-24,
  .content .text-27 {
    width: 85%;
    margin-left: 7.46324%;
  }

  .content .text-28 {
    position: relative;
    float: left;
    z-index: 64;
    width: 130px;
    margin-right: 0;
    margin-left: 7.56303%;
  }

  .content .text-29 {
    clear: none;
    margin-left: 7.45011%;
  }

  .content .text-3 {
    position: relative;
    z-index: 24;
    margin-left: 1.27101%;
  }

  .content .text-30 {
    width: 85%;
    margin-left: 7.45011%;
  }

  .content .text-31 {
    position: relative;
    float: left;
    z-index: 68;
    width: 130px;
    margin-right: 0;
    margin-left: 7.56303%;
  }

  .content .text-32 {
    clear: none;
    margin-left: 7.45536%;
  }

  .content .text-33 {
    width: 85%;
    margin-left: 7.45536%;
  }

  .content .text-34 {
    position: relative;
    clear: both;
    z-index: 70;
    margin-top: -78px;
    margin-left: 6.65704%;
  }

  .content .text-35,
  .content .text-36 {
    width: 90.4201680672%;
    margin-left: 6.72269%;
  }

  .content .text-37 {
    width: 90.4201680672%;
    margin-left: 8.06723%;
  }

  .content .text-38 {
    width: 91.4285714285%;
    margin-left: 8.57143%;
  }

  .content .text-4 {
    margin-left: 19.99475%;
  }

  .content .text-39,
  .content .text-40,
  .content .text-41 {
    width: 91.4285714285%;
    margin-top: 20px;
    margin-left: 8.57143%;
  }

  .content .text-44,
  .content .text-45 {
    width: 91.5966386554%;
    margin-top: 20px;
    margin-left: 8.40074%;
  }

  .content .text-48 {
    position: relative;
    z-index: 86;
    width: 91.5966386554%;
    margin-left: 8.40074%;
  }

  .content .text-42,
  .content .text-43,
  .content .text-46,
  .content .text-47,
  .content .text-49,
  .content .text-50 {
    width: 91.5966386554%;
    margin-left: 8.40074%;
  }

  .content .text-51 {
    position: relative;
    z-index: 89;
    width: 91.5966386554%;
    margin-top: -12px;
    margin-left: 1.73845%;
  }

  .faceinfo .profilename-1 {
    margin-left: 4.98507%;
  }

  .lirelogo-2 {
    margin-right: auto;
    margin-left: auto;
  }

  .homenavcontent ._button-10 {
    top: 59px;
    left: -13.6904761905%;
  }

  .homenavcontent ._button-11 {
    top: 59px;
    left: 47.6097470238%;
  }

  .homenavcontent ._button-7 {
    top: 4px;
    left: 89.2857142857%;
  }

  .homenavcontent ._button-8 {
    top: 4px;
    left: 7.1428571428%;
  }

  .homenavcontent ._button-9 {
    top: 4px;
    left: -61.9047619048%;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 1em;
  }

  .background {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .content {
    left: 0;
    width: 100%;
    height: 9088px;
  }

  .content .element {
    position: relative;
  }

  .content .sidedecor {
    position: relative;
    width: 13%;
  }

  .contentheader {
    left: 0;
    width: 100%;
    height: 66px;
  }

  .contentheader .lirelogo {
    right: 1.75%;
    width: 58px;
    height: auto;
  }

  .contentheader .text {
    width: 74.25%;
    margin-top: 6px;
    margin-left: 1.5%;
  }

  .faceinfo .profilename {
    width: 86.961722488%;
  }

  .homeicocontent {
    left: 0;
    right: 0;
    width: 11.5%;
    margin-right: auto;
    margin-left: auto;
  }

  .homeicocontent .icoapi {
    top: 119px;
    left: 140.5910326086%;
    height: auto;
  }

  .homeicocontent .icolearn {
    top: 60px;
    left: 140.5910326086%;
    height: auto;
  }

  .homeicocontent .icomic {
    top: -120px;
    left: 142.3913043478%;
    height: auto;
  }

  .homeicocontent .icospeak {
    top: 0;
    left: 142.3913043478%;
    height: auto;
  }

  .homeicocontent .icotype {
    top: -60px;
    left: 142.3913043478%;
    height: auto;
  }

  .homenavcontent {
    top: 356px;
    left: 30.125%;
    right: auto;
    width: 156px;
    height: 79px;
  }

  .homenavcontent .sep1 {
    visibility: hidden;
    position: relative;
    z-index: 7;
  }

  .homenavcontent .sep2 {
    visibility: hidden;
    position: relative;
    z-index: 8;
  }

  .homenavcontent .sep3 {
    position: relative;
    clear: both;
    z-index: 9;
    margin-left: 15.45473%;
  }

  .homenavcontent .sep4 {
    visibility: hidden;
    position: relative;
    clear: none;
    z-index: 10;
    margin-top: 64px;
    margin-left: 26.04167%;
  }

  .homenavcontent2 {
    visibility: hidden;
  }

  .lirelogo {
    top: 19px;
    right: 0;
    width: 159px;
    height: auto;
  }

  .profile .face {
    position: relative;
    z-index: 96;
    width: 87.0237023702%;
    margin-left: 17.89411%;
  }

  .profile .faceinfo {
    position: relative;
    z-index: 95;
    width: 87.7887788778%;
  }

  .txtapi {
    top: 515px;
    left: 0;
    right: 0;
    width: 289px;
    margin-right: auto;
    margin-left: auto;
  }

  .txtlearn {
    top: 515px;
    left: 0;
    right: 0;
    width: 234px;
    margin-right: auto;
    margin-left: auto;
  }

  .txtmic {
    top: 515px;
    left: 0;
    right: 0;
    width: 286px;
    margin-right: auto;
    margin-left: auto;
  }

  .txtspeak {
    top: 515px;
    left: 0;
    right: 0;
    width: 246px;
    margin-right: auto;
    margin-left: auto;
  }

  .txttype {
    top: 515px;
    left: 0;
    right: 0;
    width: 270px;
    margin-right: auto;
    margin-left: auto;
  }

  .faceinfo ._button {
    margin-left: 5.19481%;
  }

  .content .anchors-2 {
    margin-top: 22px;
    margin-left: 12.91016%;
  }

  .content .anchors-4,
  .content .anchors-7 {
    margin-left: 7.94141%;
  }

  .content .anchors-8 {
    margin-left: 23.34375%;
  }

  .content .anchors-9 {
    position: relative;
    z-index: 90;
    margin-top: -609px;
    margin-left: 12.49219%;
  }

  .content .element-1 {
    z-index: 51;
    margin-left: 5.52344%;
  }

  .content .element-2 {
    z-index: 53;
    margin-left: 5.42969%;
  }

  .content .element-3 {
    z-index: 57;
    margin-top: 22px;
    margin-left: 5.47266%;
  }

  .content .element-4 {
    z-index: 61;
    margin-left: 5.31641%;
  }

  .content .element-5 {
    z-index: 65;
    margin-left: 9.99219%;
  }

  .content .element-6 {
    z-index: 69;
    margin-left: 9.75%;
  }

  .content .sidedecor-1 {
    z-index: 42;
    margin-top: 106px;
  }

  .content .sidedecor-2 {
    z-index: 45;
    margin-top: 65px;
  }

  .content .sidedecor-3 {
    z-index: 71;
    margin-top: 130px;
  }

  .content .sidedecor-4 {
    z-index: 91;
    margin-top: -429px;
  }

  .content .anchors-3,
  .content .text-10,
  .content .text-6,
  .content .text-8 {
    margin-left: 9.99219%;
  }

  .content .text-11 {
    width: 83.25%;
    margin-left: 7.25%;
  }

  .content .text-13 {
    width: 84.5%;
    margin-left: 7.25%;
  }

  .content .anchors-1,
  .content .anchors-5,
  .content .anchors-6,
  .content .text-12,
  .content .text-14 {
    margin-left: 8.74219%;
  }

  .content .text-15 {
    position: relative;
    clear: both;
    z-index: 43;
    width: 100%;
    margin-top: 7px;
    margin-left: 0;
  }

  .content .text-16 {
    position: relative;
    clear: both;
    z-index: 50;
    margin-top: -47px;
    margin-left: 9.78125%;
  }

  .content .text-17 {
    clear: none;
    width: 91.75%;
    margin-left: 7.5%;
  }

  .content .text-19 {
    position: relative;
    z-index: 52;
    margin-left: 8.42969%;
  }

  .content .text-22 {
    position: relative;
    z-index: 56;
    margin-left: 8.42188%;
  }

  .content .text-18,
  .content .text-20,
  .content .text-21,
  .content .text-23 {
    width: 91.75%;
    margin-left: 7.5%;
  }

  .content .text-25 {
    position: relative;
    z-index: 60;
    margin-left: 7.55469%;
  }

  .content .text-28 {
    position: relative;
    z-index: 64;
    margin-left: 7.54688%;
  }

  .content .text-3 {
    position: relative;
    clear: both;
    z-index: 24;
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .content .text-31 {
    position: relative;
    z-index: 68;
    margin-left: 7.54688%;
  }

  .content .text-32 {
    width: 91%;
    margin-top: 2px;
    margin-left: 7.5%;
  }

  .content .text-24,
  .content .text-26,
  .content .text-27,
  .content .text-29,
  .content .text-30,
  .content .text-33 {
    width: 91%;
    margin-left: 7.5%;
  }

  .content .text-34 {
    position: relative;
    z-index: 70;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }

  .content .text-35 {
    width: 100%;
    margin-left: 0;
  }

  .content .text-36 {
    width: 99.25%;
    margin-top: 42px;
    margin-left: 0;
  }

  .content .text-4 {
    width: 84.75%;
    margin-left: 11.75%;
  }

  .content .text-43 {
    position: relative;
    z-index: 80;
    width: 98.25%;
    margin-left: 1%;
  }

  .content .text-38,
  .content .text-39,
  .content .text-40,
  .content .text-41,
  .content .text-42,
  .content .text-44 {
    width: 98.25%;
    margin-left: 1%;
  }

  .content .text-45 {
    position: relative;
    z-index: 82;
    width: 98.25%;
    margin-left: 1%;
  }

  .content .text-46 {
    margin-left: 0;
  }

  .content .text-48 {
    position: relative;
    z-index: 86;
    width: 99%;
    margin-left: 1%;
  }

  .content .text-5 {
    width: 86%;
    margin-left: 7.25%;
  }

  .content .text-37,
  .content .text-47,
  .content .text-49,
  .content .text-50 {
    width: 99%;
    margin-left: 1%;
  }

  .content .text-51 {
    position: relative;
    clear: both;
    z-index: 89;
    width: 99%;
    margin-top: -470px;
    margin-left: 12.5%;
  }

  .content .text-7,
  .content .text-9 {
    width: 85.75%;
    margin-left: 7.25%;
  }

  .faceinfo .profilename-1 {
    margin-left: 4.98975%;
  }

  .lirelogo-2 {
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .homenavcontent ._button-10 {
    top: 14px;
    left: -39.1025641026%;
  }

  .homenavcontent ._button-11 {
    top: 78px;
    left: -50.8313301283%;
  }

  .homenavcontent ._button-7 {
    top: -50px;
    left: -61.5384615385%;
  }

  .homenavcontent ._button-8 {
    top: -115px;
    left: -57.6923076924%;
  }

  .homenavcontent ._button-9 {
    top: -179px;
    left: -47.4358974359%;
  }
}