body {
  background-color: rgb(255, 255, 255);
  font-family: Georgia;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 42, 68);
}

.domainsub p,
.text-12 p,
.text-14 p,
.text-18 p,
.text-21 p,
.text-24 p,
.text-4 p,
.text-6 p,
.text-8 p {
  margin-bottom: 1em;
}

.anchors {
  float: left;
  width: 10.4373757455%;
  min-height: 38px;
  padding-left: 10px;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.backgd {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 642px;
  min-height: 642px;
  background-image: url('../images/bspeak.jpg'), url('../images/blearn.jpg'), url('../images/bapi.jpg'), url('../images/bmic.jpg'), url('../images/btype.jpg');
  background-repeat: repeat-y, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover, cover, cover;
  background-position: center center, center center, center center, center center, center center;
  background-attachment: scroll, scroll, scroll, scroll, scroll;
  opacity: 0.65;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 700px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(0, 73, 119) 41.904761904761905%);
  background-image:    -moz-linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(0, 73, 119) 41.904761904761905%);
  background-image:      -o-linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(0, 73, 119) 41.904761904761905%);
  background-image:     -ms-linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(0, 73, 119) 41.904761904761905%);
  background-image:         linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 73, 119) 41.904761904761905%);
  background-color: rgb(25, 19, 24);
}

.content {
  position: absolute;
  top: 642px;
  left: 15.0073206442%;
  z-index: 58;
  width: 73.6456808199%;
  height: 5068px;
  background-color: rgb(255, 255, 255);
}

.contentheader {
  position: absolute;
  top: 642px;
  left: 15.0073206442%;
  z-index: 61;
  width: 73.6456808199%;
  height: 91px;
  background-image: url('../images/btype.jpg'), none;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, 100% 100%;
  background-position: center center, 0% 0%;
  background-attachment: fixed, scroll;
  background-color: rgb(222, 222, 222);
  box-shadow: 0 4px 13px rgba(0, 0, 0, .5);
  opacity: 0.9;
}

.contentheader .lirelogo {
  top: 5px;
  z-index: 59;
  width: 83px;
}

.contentheader .text {
  float: left;
  width: 45.129224652%;
  min-height: 41px;
  margin-top: 30px;
  margin-left: 0.74553%;
  font-style: italic;
  font-size: 1.25em;
  color: rgb(221, 242, 255);
}

.domainsub {
  position: absolute;
  top: 17px;
  left: 14.9513473053%;
  z-index: 67;
  width: 89.2215568862%;
  height: 241px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}

.domainsub .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 66;
  width: 100%;
  height: 228px;
  padding-top: 47px;
  padding-right: 12px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: rgba(2, 57, 91, 0.98);
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, .5);
  font-size: 1em;
  color: rgba(255, 255, 255, 0.76);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}

.element {
  position: relative;
  float: left;
  clear: both;
  width: 25px;
  height: 25px;
  border-top-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
  border-top-color: rgb(0, 73, 119);
  border-right-color: rgb(0, 73, 119);
  border-bottom-color: rgb(0, 73, 119);
  border-left-color: rgb(0, 73, 119);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: rgb(255, 255, 255);
}

.homeicocontent {
  position: absolute;
  top: 299px;
  left: 0;
  right: 0;
  z-index: 17;
  width: 7.467057101%;
  height: 88px;
  margin-right: auto;
  margin-left: auto;
}

.homenavcontent {
  position: absolute;
  top: 514px;
  left: 0;
  right: 0;
  z-index: 11;
  width: 168px;
  height: 52px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -o-transition: width .3s;
  -ms-transition: width .3s;
  transition: width .3s;
}

.homenavcontent2 {
  position: fixed;
  top: 8px;
  right: 84.9915355051%;
  z-index: 69;
  width: 167px;
  height: 324px;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -o-transition: width .3s;
  -ms-transition: width .3s;
  transition: width .3s;
}

.icoapi {
  display: block;
  position: absolute;
  top: 17px;
  left: 282.3069852941%;
  z-index: 14;
  width: 59px;
  height: auto;
  opacity: 0.4;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.icolearn {
  display: block;
  position: absolute;
  top: 17px;
  left: 152.9105392156%;
  z-index: 13;
  width: 59px;
  height: auto;
  opacity: 0.4;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.icomic {
  display: block;
  position: absolute;
  top: 17px;
  left: -233.3333333334%;
  z-index: 15;
  width: 58px;
  height: auto;
  opacity: 0.4;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.icospeak {
  display: block;
  position: absolute;
  top: 17px;
  left: 24.4944852941%;
  z-index: 12;
  width: 58px;
  height: auto;
  opacity: 0.4;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.icotype {
  display: block;
  position: absolute;
  top: 17px;
  left: -103.9215686275%;
  z-index: 16;
  width: 58px;
  height: auto;
  opacity: 0.4;
  overflow: hidden;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.lirelogo {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  overflow: visible;
}

.sep1 {
  float: left;
  width: 2px;
  height: 40px;
  margin-top: 2px;
  margin-left: -67.28981%;
  background-color: rgb(65, 123, 150);
}

.sep2 {
  float: left;
  width: 2px;
  height: 40px;
  margin-top: 2px;
  margin-left: 13.59747%;
  background-color: rgb(65, 123, 150);
}

.sep3 {
  float: left;
  width: 2px;
  height: 40px;
  margin-top: 2px;
  margin-left: 83.9285699999%;
  background-color: rgb(65, 123, 150);
}

.sep4 {
  float: left;
  clear: both;
  width: 2px;
  height: 40px;
  margin-top: -40px;
  margin-left: 161.84896%;
  background-color: rgb(65, 123, 150);
}

.sidedecor {
  position: relative;
  float: left;
  clear: both;
  width: 6.6600397614%;
  height: 58px;
  background-image: url('../images/btype.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgb(222, 222, 222);
}

.txtapi {
  position: absolute;
  top: 272px;
  left: 0;
  right: 0;
  z-index: 22;
  width: 539px;
  min-height: 53px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.52);
}

.txtlearn {
  position: absolute;
  top: 272px;
  left: 0;
  right: 0;
  z-index: 21;
  width: 438px;
  min-height: 53px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.52);
}

.txtmic {
  position: absolute;
  top: 272px;
  left: 0;
  right: 0;
  z-index: 18;
  width: 534px;
  min-height: 53px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.52);
}

.txtspeak {
  position: absolute;
  top: 272px;
  left: 0;
  right: 0;
  z-index: 20;
  width: 459px;
  min-height: 53px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.52);
}

.txttype {
  position: absolute;
  top: 272px;
  left: 0;
  right: 0;
  z-index: 19;
  width: 503px;
  min-height: 53px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.52);
}

._button {
  display: block;
  position: absolute;
  height: 45px;
  padding-left: 5px;
  font-family: Verdana;
  font-size: 1.125em;
  color: rgb(255, 255, 255);
}

._button:active {
  background-color: rgba(25, 19, 24, 0.44);
}

.homenavcontent ._button {
  background-color: rgba(25, 19, 24, 0);
  text-align: center;
}

.homenavcontent ._button:hover {
  background-color: rgba(25, 19, 24, 0.44);
}

.homenavcontent ._button:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset;
}

.homenavcontent2 ._button {
  text-align: right;
}

.homenavcontent2 ._button:hover {
  background-color: rgba(179, 179, 179, 0.44);
}

.homenavcontent2 ._button:active {
  border-bottom-width: 3px;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
}

.anchors-1 {
  margin-left: 8.74441%;
}

.anchors-2 {
  clear: both;
  margin-left: 12.91936%;
}

.anchors-3 {
  clear: both;
  margin-left: 9.99938%;
}

.anchors-5,
.anchors-6 {
  clear: both;
  margin-left: 8.74441%;
}

.anchors-4,
.anchors-7 {
  clear: both;
  margin-left: 7.95229%;
}

.element-1 {
  z-index: 51;
  margin-top: 90px;
  margin-left: 21.8253%;
}

.element-2 {
  z-index: 53;
  margin-left: 21.92315%;
}

.element-3 {
  z-index: 57;
  margin-left: 21.96664%;
}

.lirelogo-2 {
  top: 71px;
  z-index: 23;
  width: 206px;
}

.sidedecor-1 {
  z-index: 42;
  margin-top: 192px;
}

.sidedecor-2 {
  z-index: 45;
  margin-top: 150px;
}

.text-10 {
  float: left;
  clear: both;
  width: 83.3001988071%;
  min-height: 68px;
  margin-top: 40px;
  margin-left: 9.99938%;
  font-size: 1em;
  color: rgb(0, 42, 68);
}

.text-11,
.text-7 {
  float: left;
  clear: both;
  width: 35.1888667992%;
  min-height: 38px;
  margin-top: 130px;
  margin-left: 7.35276%;
  padding-left: 10px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 73, 119, 0.14);
  border-bottom-style: solid;
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.text-13 {
  float: left;
  clear: both;
  width: 35.1888667992%;
  min-height: 38px;
  margin-top: 103px;
  margin-left: 7.35276%;
  padding-left: 10px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 73, 119, 0.14);
  border-bottom-style: solid;
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.text-12,
.text-14 {
  float: left;
  clear: both;
  width: 83.3001988071%;
  min-height: 245px;
  margin-top: 40px;
  margin-left: 8.74441%;
  font-size: 1em;
  color: rgb(0, 42, 68);
}

.text-15 {
  position: relative;
  float: left;
  z-index: 43;
  width: 83.0019880715%;
  height: 86px;
  min-height: 63px;
  margin-top: 130px;
  margin-left: 0.6911699999%;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 136, 221, 0.38);
  border-bottom-style: solid;
  font-size: 2.375em;
  color: rgb(0, 73, 119);
}

.text-16 {
  position: relative;
  float: right;
  clear: both;
  z-index: 50;
  width: 117px;
  height: 39px;
  margin-top: -47px;
  margin-right: 77.43539%;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-bottom-width: 3px;
  border-bottom-color: rgb(0, 73, 119);
  border-bottom-style: solid;
  font-style: italic;
  font-size: 1.125em;
  text-align: right;
  color: rgba(0, 73, 119, 0.92);
}

.text-19 {
  position: relative;
  float: right;
  clear: both;
  z-index: 52;
  width: 124px;
  height: 39px;
  margin-top: -47px;
  margin-right: 76.73956%;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-bottom-width: 3px;
  border-bottom-color: rgb(0, 73, 119);
  border-bottom-style: solid;
  font-style: italic;
  font-size: 1.125em;
  text-align: right;
  color: rgba(0, 73, 119, 0.92);
}

.text-22 {
  position: relative;
  float: right;
  clear: both;
  z-index: 56;
  width: 124px;
  height: 39px;
  margin-top: -47px;
  margin-right: 76.73956%;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  border-bottom-width: 3px;
  border-bottom-color: rgb(0, 73, 119);
  border-bottom-style: solid;
  font-style: italic;
  font-size: 1.125em;
  text-align: right;
  color: rgba(0, 73, 119, 0.92);
}

.text-17,
.text-20,
.text-23 {
  float: left;
  clear: both;
  width: 70.8534621578%;
  min-height: 38px;
  margin-left: 22.99795%;
  padding-left: 10px;
  border-bottom-width: 1px;
  border-left-width: 4px;
  border-bottom-color: rgba(0, 73, 119, 0.14);
  border-left-color: rgb(0, 73, 119);
  border-bottom-style: solid;
  border-left-style: solid;
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.text-18,
.text-21,
.text-24 {
  float: left;
  clear: both;
  width: 74.074074074%;
  min-height: 245px;
  margin-left: 22.99795%;
  padding-top: 40px;
  padding-bottom: 120px;
  padding-left: 20px;
  border-left-width: 4px;
  border-left-color: rgb(0, 73, 119);
  border-left-style: solid;
  font-size: 1em;
  color: rgb(0, 42, 68);
}

.text-3 {
  position: relative;
  float: left;
  z-index: 24;
  width: 83.0019880715%;
  height: 86px;
  min-height: 63px;
  margin-top: 174px;
  margin-left: 1.2922499999%;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 136, 221, 0.38);
  border-bottom-style: solid;
  font-size: 2.375em;
  color: rgb(0, 73, 119);
}

.text-4 {
  float: left;
  clear: both;
  width: 76.4413518886%;
  min-height: 60px;
  margin-top: 42px;
  margin-left: 19.99876%;
  padding-left: 10px;
  border-left-width: 3px;
  border-left-color: rgba(0, 73, 119, 0.48);
  border-left-style: solid;
  font-style: italic;
  font-size: 1em;
  color: rgba(0, 73, 119, 0.75);
}

.text-5 {
  float: left;
  clear: both;
  width: 35.1888667992%;
  min-height: 38px;
  margin-top: 94px;
  margin-left: 7.35276%;
  padding-left: 10px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 73, 119, 0.14);
  border-bottom-style: solid;
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.text-6,
.text-8 {
  float: left;
  clear: both;
  width: 83.3001988071%;
  min-height: 245px;
  margin-top: 40px;
  margin-left: 9.99938%;
  font-size: 1em;
  color: rgb(0, 42, 68);
}

.text-9 {
  float: left;
  clear: both;
  width: 35.1888667992%;
  min-height: 38px;
  margin-top: 168px;
  margin-left: 7.35276%;
  padding-left: 10px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 73, 119, 0.14);
  border-bottom-style: solid;
  font-style: italic;
  font-size: 1.5em;
  color: rgba(0, 73, 119, 0.92);
}

.homenavcontent ._button-10 {
  top: 2px;
  left: 169.0383184523%;
  z-index: 6;
  width: 62.5%;
}

.homenavcontent ._button-10:active,
.homenavcontent ._button-6:active,
.homenavcontent ._button-7:active,
.homenavcontent ._button-9:active {
  color: rgb(255, 255, 255);
}

.homenavcontent ._button-6 {
  top: 0;
  left: 20.8333333333%;
  z-index: 4;
  width: 73.2142857142%;
}

.homenavcontent ._button-7 {
  top: 0;
  left: -61.3095238096%;
  z-index: 3;
  width: 69.6428571428%;
}

.homenavcontent ._button-8 {
  top: 2px;
  left: -130.3571428572%;
  z-index: 2;
  width: 59.5238095238%;
}

.homenavcontent ._button-8:active {
  text-align: center;
  color: rgb(255, 224, 194);
}

.homenavcontent ._button-9 {
  top: 2px;
  left: 106.5476190476%;
  z-index: 5;
  width: 51.1904761904%;
}

.homenavcontent2 ._button-1 {
  top: 7px;
  left: 34.7305389221%;
  z-index: 68;
  width: 59.2814371257%;
  padding-right: 9px;
  background-color: rgba(25, 19, 24, 0);
}

.homenavcontent2 ._button-1:active {
  text-align: center;
  color: rgb(255, 224, 194);
}

.homenavcontent2 ._button-2 {
  top: 69px;
  left: 24.5508982035%;
  z-index: 65;
  width: 69.4610778443%;
  padding-right: 9px;
  background-color: rgba(25, 19, 24, 0);
}

.homenavcontent2 ._button-3 {
  top: 132px;
  left: 20.9580838323%;
  z-index: 64;
  width: 73.0538922155%;
  background-color: rgba(25, 19, 24, 0);
}

.homenavcontent2 ._button-4 {
  top: 194px;
  left: 43.113772455%;
  z-index: 63;
  width: 50.8982035928%;
}

.homenavcontent2 ._button-4:hover {
  border-bottom-width: 0;
  border-bottom-style: none;
}

.homenavcontent2 ._button-5 {
  top: 256px;
  left: 31.7365269461%;
  z-index: 62;
  width: 62.5%;
}

.homenavcontent2 ._button-2:active,
.homenavcontent2 ._button-3:active,
.homenavcontent2 ._button-4:active,
.homenavcontent2 ._button-5:active {
  color: rgb(255, 255, 255);
}

.text a,
.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: transparent;
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 800px) {
  body {
    font-size: 1em;
  }

  .background {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .content {
    top: 752px;
    left: 22.375%;
    width: 77.625%;
    height: 4152px;
  }

  .content .anchors {
    width: 79.0282809983%;
  }

  .content .element {
    position: relative;
  }

  .content .sidedecor {
    position: relative;
  }

  .contentheader {
    top: 752px;
    left: 22.375%;
    width: 77.625%;
  }

  .contentheader .text {
    position: relative;
    z-index: 60;
    margin-left: 0.74477%;
  }

  .domainsub .text {
    top: -1px;
    left: 0.3770372172%;
    width: 125.08%;
    height: 269px;
  }

  .homeicocontent {
    top: 303px;
    left: 0;
    right: 0;
    width: 12.5%;
    margin-right: auto;
    margin-left: auto;
  }

  .homeicocontent .icoapi,
  .homeicocontent .icolearn {
    width: 58px;
    height: auto;
  }

  .homeicocontent .icomic,
  .homeicocontent .icospeak,
  .homeicocontent .icotype {
    height: auto;
  }

  .homenavcontent {
    top: 538px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .homenavcontent .sep1 {
    position: absolute;
    float: none;
    top: 5px;
    left: 172.0238095238%;
    margin-top: 0;
    margin-left: 0;
  }

  .homenavcontent .sep2 {
    position: absolute;
    float: none;
    top: 5px;
    left: -2.9761904762%;
    margin-top: 0;
    margin-left: 0;
  }

  .homenavcontent .sep3 {
    position: absolute;
    float: none;
    top: 5px;
    left: 84.5238095238%;
    margin-top: 0;
    margin-left: 0;
  }

  .homenavcontent .sep4 {
    position: absolute;
    float: none;
    clear: none;
    top: 58px;
    left: 40.9877232142%;
    margin-top: 0;
    margin-left: 0;
  }

  .homenavcontent2 {
    top: 107px;
    right: 77.625%;
    width: 144px;
  }

  .homenavcontent2 .domainsub {
    top: 7px;
    left: 30.5230034722%;
  }

  .contentheader .lirelogo,
  .lirelogo {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .txtapi {
    top: 273px;
    left: 0;
    right: 0;
    width: 540px;
    margin-right: auto;
    margin-left: auto;
  }

  .txtlearn {
    top: 273px;
    left: 0;
    right: 0;
    width: 527px;
    margin-right: auto;
    margin-left: auto;
  }

  .txtmic {
    top: 273px;
    left: 0;
    right: 0;
    width: 541px;
    margin-right: auto;
    margin-left: auto;
  }

  .txtspeak {
    top: 273px;
    left: 0;
    right: 0;
    width: 517px;
    margin-right: auto;
    margin-left: auto;
  }

  .txttype {
    top: 273px;
    left: 0;
    right: 0;
    width: 526px;
    margin-right: auto;
    margin-left: auto;
  }

  .content .anchors-1 {
    margin-top: 79px;
    margin-left: 8.74346%;
  }

  .content .anchors-2 {
    margin-left: 0;
  }

  .content .anchors-3 {
    margin-left: 9.99648%;
  }

  .content .anchors-4 {
    margin-left: 7.95089%;
  }

  .content .anchors-5,
  .content .anchors-6,
  .content .anchors-7 {
    margin-left: 8.74346%;
  }

  .content .element-1 {
    z-index: 51;
    margin-left: 20.37792%;
  }

  .content .element-2 {
    z-index: 53;
    margin-left: 20.31502%;
  }

  .content .element-3 {
    z-index: 57;
    margin-left: 20.31502%;
  }

  .content .sidedecor-1 {
    z-index: 42;
    margin-top: 113px;
  }

  .content .sidedecor-2 {
    z-index: 45;
    margin-top: 124px;
  }

  .content .text-10,
  .content .text-6,
  .content .text-8 {
    width: 79.0282809983%;
    margin-left: 9.99648%;
  }

  .content .text-11,
  .content .text-5,
  .content .text-7 {
    width: 79.0282809983%;
    margin-left: 7.34954%;
  }

  .content .text-13 {
    width: 79.0282809983%;
    margin-top: 141px;
    margin-left: 7.34954%;
  }

  .content .text-12,
  .content .text-14 {
    width: 79.0282809983%;
    margin-left: 8.74346%;
  }

  .content .text-15 {
    position: relative;
    z-index: 43;
    width: 91.304347826%;
    margin-top: 104px;
    margin-left: 2.03553%;
  }

  .content .text-16 {
    position: relative;
    float: left;
    z-index: 50;
    width: 18.5185185185%;
    height: 38px;
    margin-right: 0;
    margin-left: 2.25443%;
  }

  .content .text-17 {
    clear: none;
    margin-left: 21.99829%;
  }

  .content .text-18 {
    margin-left: 22.05113%;
  }

  .content .text-19 {
    position: relative;
    float: left;
    z-index: 52;
    width: 20.7729468599%;
    height: 38px;
    margin-right: 0;
    margin-left: 0.95864%;
  }

  .content .text-22 {
    position: relative;
    float: left;
    z-index: 56;
    width: 20.7729468599%;
    height: 38px;
    margin-right: 0;
    margin-left: 0.95864%;
  }

  .content .text-20,
  .content .text-23 {
    clear: none;
    margin-left: 22.20713%;
  }

  .content .text-21,
  .content .text-24 {
    margin-left: 22.20713%;
  }

  .content .text-3 {
    position: relative;
    clear: both;
    z-index: 24;
    width: 92.7536231884%;
    margin-top: -76px;
    margin-left: 7.8905%;
  }

  .content .text-4 {
    width: 79.0282809983%;
    margin-top: 40px;
    margin-left: 19.99799%;
  }

  .content .text-9 {
    width: 79.0282809983%;
    margin-top: 130px;
    margin-left: 7.34954%;
  }

  .homenavcontent ._button-10 {
    top: 52px;
    left: 47.0145089285%;
  }

  .homenavcontent ._button-6 {
    left: 88.0952380952%;
  }

  .homenavcontent ._button-7 {
    left: 5.9523809523%;
  }

  .homenavcontent ._button-8 {
    left: -63.0952380953%;
  }

  .homenavcontent ._button-9 {
    top: 52px;
    left: -15.4761904762%;
  }

  .homenavcontent2 ._button-1 {
    left: 40.7092065868%;
  }

  .homenavcontent2 ._button-2 {
    left: 30.5295658682%;
  }

  .homenavcontent2 ._button-3 {
    left: 26.936751497%;
  }

  .homenavcontent2 ._button-4 {
    left: 49.0924401197%;
  }
}

@media(max-width: 620px) {
  body {
    font-size: 1em;
  }

  .background,
  .homeicocontent,
  .homenavcontent,
  .txtapi,
  .txtlearn,
  .txtmic,
  .txtspeak,
  .txttype {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .content {
    left: 22.4193548387%;
    width: 77.5806451612%;
    height: 4825px;
  }

  .content .element {
    position: relative;
  }

  .content .sidedecor {
    position: relative;
  }

  .contentheader .text {
    position: relative;
    z-index: 60;
    margin-left: 0.74024%;
  }

  .domainsub .text {
    top: 0;
    left: 3.5027973729%;
    height: 272px;
  }

  .homeicocontent .icoapi,
  .homeicocontent .icolearn,
  .homeicocontent .icomic,
  .homeicocontent .icospeak,
  .homeicocontent .icotype {
    height: auto;
  }

  .homenavcontent2 {
    right: 77.6234879032%;
  }

  .homenavcontent2 .domainsub {
    left: 24.5659722222%;
    height: 254px;
  }

  .contentheader .lirelogo,
  .lirelogo {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .content .anchors-4 {
    margin-left: 7.94569%;
  }

  .content .anchors-1,
  .content .anchors-5,
  .content .anchors-6,
  .content .anchors-7,
  .content .text-12 {
    margin-left: 8.73831%;
  }

  .content .element-1 {
    z-index: 51;
    margin-left: 13.08797%;
  }

  .content .element-2 {
    z-index: 53;
    margin-left: 13.50377%;
  }

  .content .element-3 {
    z-index: 57;
    margin-left: 13.48753%;
  }

  .content .sidedecor-1 {
    z-index: 42;
  }

  .content .sidedecor-2 {
    z-index: 45;
  }

  .content .anchors-3,
  .content .text-10,
  .content .text-6,
  .content .text-8 {
    margin-left: 9.98896%;
  }

  .content .text-11,
  .content .text-13,
  .content .text-5,
  .content .text-7,
  .content .text-9 {
    margin-left: 7.34148%;
  }

  .content .text-14 {
    width: 88.3575883575%;
    margin-left: 8.73181%;
  }

  .content .text-15 {
    position: relative;
    z-index: 43;
    margin-left: 2.03028%;
  }

  .content .text-16 {
    position: relative;
    z-index: 50;
    width: 35.9667359667%;
    margin-left: 15.38462%;
  }

  .content .text-19 {
    position: relative;
    z-index: 52;
    width: 31.6008316008%;
    margin-left: 16.63202%;
  }

  .content .text-22 {
    position: relative;
    z-index: 56;
    width: 31.6008316008%;
    margin-left: 16.62877%;
  }

  .content .text-17,
  .content .text-18,
  .content .text-20,
  .content .text-21,
  .content .text-23,
  .content .text-24 {
    margin-left: 15.38462%;
  }

  .content .text-3 {
    position: relative;
    z-index: 24;
    margin-left: 7.88397%;
  }

  .content .text-4 {
    margin-left: 19.9974%;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 1em;
  }

  .background {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .content {
    left: 0;
    width: 100%;
    height: 4852px;
  }

  .content .anchors {
    width: 61.34375%;
  }

  .content .element {
    position: relative;
  }

  .content .sidedecor {
    position: relative;
  }

  .contentheader {
    left: 0;
    width: 100%;
  }

  .contentheader .lirelogo {
    top: 7px;
    left: auto;
    right: 7.625%;
    height: auto;
  }

  .contentheader .text {
    position: relative;
    z-index: 60;
    width: 65.75%;
    margin-left: 0.75%;
  }

  .domainsub .text {
    top: -10px;
    left: -1.5446363416%;
  }

  .homeicocontent {
    top: 446px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .homeicocontent .icoapi {
    top: 129px;
    left: 182%;
    height: auto;
  }

  .homeicocontent .icolearn {
    top: 66px;
    left: 182%;
    height: auto;
  }

  .homeicocontent .icomic {
    top: -126px;
    left: 182%;
    height: auto;
  }

  .homeicocontent .icospeak {
    top: 2px;
    left: 182%;
    height: auto;
  }

  .homeicocontent .icotype {
    top: -62px;
    left: 182%;
    height: auto;
  }

  .homenavcontent {
    top: 518px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .homenavcontent .sep1,
  .homenavcontent .sep2,
  .homenavcontent .sep3,
  .homenavcontent .sep4 {
    visibility: hidden;
  }

  .homenavcontent2 {
    visibility: hidden;
    top: 108px;
    left: 0;
    right: auto;
  }

  .homenavcontent2 .domainsub {
    top: 17px;
    left: 14.9513473053%;
  }

  .lirelogo {
    left: 0;
    right: 0;
    height: auto;
  }

  .txtapi,
  .txtlearn,
  .txtmic,
  .txtspeak,
  .txttype {
    top: 262px;
    left: 9%;
    right: auto;
    width: 325px;
  }

  .content .anchors-1 {
    margin-top: 0;
    margin-left: 8.74219%;
  }

  .content .anchors-2 {
    margin-top: 22px;
  }

  .content .anchors-4 {
    margin-left: -19.04297%;
  }

  .content .anchors-3,
  .content .anchors-5 {
    margin-left: 0;
  }

  .content .anchors-6 {
    margin-left: 7.75%;
  }

  .content .anchors-7 {
    margin-left: 2.65625%;
  }

  .content .element-1 {
    z-index: 51;
    margin-top: 443px;
    margin-left: 23.37891%;
  }

  .content .element-2 {
    z-index: 53;
    margin-top: -652px;
    margin-left: 45.14844%;
  }

  .content .element-3 {
    z-index: 57;
    margin-top: -542px;
    margin-left: 55.13672%;
  }

  .content .sidedecor-1 {
    z-index: 42;
    margin-top: 192px;
  }

  .content .sidedecor-2 {
    z-index: 45;
    margin-top: 151px;
  }

  .content .text-10 {
    width: 61.34375%;
    margin-left: 9.99219%;
  }

  .content .text-11 {
    width: 61.34375%;
    margin-top: 92px;
    margin-left: 7.34766%;
  }

  .content .text-12 {
    width: 86.25%;
    margin-left: 8.75%;
  }

  .content .text-13,
  .content .text-5 {
    width: 61.34375%;
    margin-top: 130px;
    margin-left: 7.34766%;
  }

  .content .text-14 {
    width: 93.75%;
    margin-left: 4%;
  }

  .content .text-15 {
    position: relative;
    z-index: 43;
    width: 92.25%;
    margin-top: 130px;
    margin-left: 1%;
  }

  .content .text-16 {
    position: relative;
    z-index: 50;
    width: 40.78125%;
    margin-top: -531px;
    margin-left: 26.70313%;
  }

  .content .text-17 {
    width: 61.34375%;
    margin-top: -429px;
    margin-left: 5%;
  }

  .content .text-18 {
    clear: none;
    width: 87.75%;
    margin-top: -391px;
    margin-left: 5%;
  }

  .content .text-19 {
    position: relative;
    z-index: 52;
    width: 40.78125%;
    margin-top: -674px;
    margin-left: -143.36328%;
  }

  .content .text-22 {
    position: relative;
    clear: none;
    z-index: 56;
    width: 40.78125%;
    margin-top: -567px;
    margin-left: 18.25%;
  }

  .content .text-20,
  .content .text-21,
  .content .text-23,
  .content .text-24 {
    width: 87.75%;
    margin-left: 5%;
  }

  .content .text-3 {
    position: relative;
    clear: none;
    z-index: 24;
    width: 89.75%;
    margin-top: 174px;
    margin-left: 1.34375%;
  }

  .content .text-4 {
    width: 85.75%;
    margin-top: 59px;
    margin-left: 6.75%;
  }

  .content .text-6 {
    width: 80.25%;
    margin-left: 10%;
  }

  .content .text-8 {
    width: 76.5%;
    margin-left: 10%;
  }

  .content .text-7,
  .content .text-9 {
    width: 61.34375%;
    margin-left: 7.34766%;
  }

  .lirelogo-2 {
    margin-right: auto;
    margin-left: auto;
  }

  .homenavcontent ._button-10 {
    top: 37px;
    left: -14.2857142858%;
  }

  .homenavcontent ._button-6 {
    top: -67px;
    left: -25%;
  }

  .homenavcontent ._button-7 {
    top: -119px;
    left: -22.6190476191%;
  }

  .homenavcontent ._button-8 {
    top: -171px;
    left: -11.3095238096%;
  }

  .homenavcontent ._button-9 {
    top: -15px;
    left: -2.9761904762%;
  }
}